<!-- 回复区 -->
<div class="page-header" style="margin: 0">
  <h5>添加回复</h5>
</div>
<form method="post" class="form-horizontal">
  <div class="col-sm-12">
    <textarea name="content" rows="6" class="form-control"></textarea>
  </div>
  <div class="col-sm-offset-10 col-sm-2" style="margin-top: 1em">
      <button type="submit" class="btn btn-primary">提交</button>
  </div>
</form>