<!-- 个人信息 -->
<div style="background-color: #fff">
    <div class="page-header" style="margin: 0;padding: .2em">
     <h5>个人信息</h5>
    </div>
 <div class="media">
     <div class="media-left media-middle" style="padding:0.5em">
        <a href="#"><img class="media-object" src="http://www.gravatar.com/avatar/<%= user.email %>?s=40" alt=""></a>
    </div>
    <div class="media-body">
        <p style="margin-top: 1.3em"><a href="/user/<%= user.name %>"><%= user.name %></a></p>
    </div>
 </div>
 <div style="height: 2em">
     <p style="font:italic lighter 1em/2em 'Helvetica Neue',Helvetica,Arial,sans-serif">个性签名: <%= user.signature %></p>
 </div>
</div>

